{include file="common/header" /}
<body>
{include file="common/nav" /}
<div id="app">
    <div class="block" v-cloak>
        <nav-list :show="1"></nav-list>
        <el-row :gutter="30" style="margin-top: 30px">
            <el-col :span="18" :offset="2"><div class="grid-content bg-purple">
                <el-card>
                    <avue-data-display :option="option"></avue-data-display>
                </el-card>
                <el-card style="margin-top: 30px;padding: 25px">
                    <avue-echart-line theme="wonderland" :option="option1" :data="data1" width="100%"></avue-echart-line>
                </el-card>
            </div></el-col>
        </el-row>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                activeIndex:"{$router}",
                indexUrl:"{$indexUrl}",
                option: {
                    span:6,
                    data: [
                        {
                            click: function (item) {
                                alert(JSON.stringify(item));
                            },
                            count: 100,
                            title: '日活跃数',
                            href:'https://avuejs.com',
                            target:'_blank'
                        },
                        {
                            click: function (item) {
                                alert(JSON.stringify(item));
                            },
                            count: '3,000',
                            title: '月活跃数',
                            href:'https://avuejs.com',
                            target:'_blank'
                        },
                        {
                            click: function (item) {
                                alert(JSON.stringify(item));
                            },
                            count: '20,000',
                            title: '年活跃数',
                            href:'https://avuejs.com',
                            target:'_blank'
                        },
                        {
                            click: function (item) {
                                alert(JSON.stringify(item));
                            },
                            count: '40,000',
                            title: '周活跃数',
                            href:'https://avuejs.com',
                            target:'_blank'
                        }
                    ]
                },
                data1:{
                    categories: [
                        "2020-01",
                        "2020-02",
                        "2020-03",
                        "2020-04",
                        "2020-05",
                        "2020-06"
                    ],
                    series: [
                        {
                            name: "worldpay",
                            data: [
                                5000,
                                3581,
                                2548,
                                26548,
                                25487,
                                15487
                            ]
                        }, {
                            name: "safecharge",
                            data: [
                                20154,
                                67854,
                                89744,
                                43087,
                                4700,
                                3977
                            ]
                        },{
                            name: "payvison",
                            data: [
                                25247,
                                36584,
                                98741,
                                12547,
                                36584,
                                1000
                            ]
                        }
                    ]
                },
                option1: {
                    switchTheme:false,
                    width: 1000,
                    height: 600,
                    title: '交易金额',
                    smooth: true,//是否顺滑
                    areaStyle: false,//是否面积
                }
            }
        },
        methods: {

        }
    })
</script>

</html>
<style>
    .box-card{
        width:28rem;
        margin: 10rem auto 10rem;
        padding-top: 3rem;
        min-height: 30rem;
        min-width: 22rem;
    }
</style>
