{include file='./header' /}
<div class="row">
    {include file='./nav' /}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: left">Supplier List <a href="add_supplier" class="btn btn-primary btn-xs" style="float: right">add</a></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <td>ID</td>
                        <td>商户名称</td>
                        <td>状态/价格</td>
                        <td>创建/更新时间</td>
                        <td>是否自动</td>
                        <td>操做</td>
                    </tr>
                    {volist name='list' id='order'}
                    <tr style="text-align: left">
                        <td class="active">{$order.id}</td>
                        <td class="active">{$order.name}</td>
                        <td class="active"><pre>{$order.status}<br/>{$order.price}</pre></td>
                        <td class="active">{$order.create_at|date="Y-m-d H:i:s",###}<br/>{$order.update_at|date="Y-m-d H:i:s",###}</td>
                        <td class="active">{$order.is_auto}</td>
                        <td class="active">
                            <a href="update_supplier?id={$order.id}">修改</a>
                            <a href="del_supplier?id={$order.id}">删除</a>
                        </td>
                    </tr>
                    {/volist}

                    {empty name="list"}
                    <tr style="text-align: left">
                        <td style="text-align: center" colspan="7" class="active">list id empty</td>
                    </tr>
                    {/empty}
                </table>
                <div style="text-align: center">{$list->render()}</div>
            </div>
        </div>
    </div>
</div>
{include file='./footer' /}
