{include file='./header' /}
<div class="row">
    {include file='./nav' /}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: left">Supplier Info <a href="merchant" class="btn btn-primary btn-xs" style="float: right">back</a></div>
            <div class="panel-body">
                <form class="" action="store_supplier" method="post">
                    <div class="form-group">
                        <label for="exampleInputName2">Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span></div>
                            <input name="name" value="{$info.name|default=''}" type="text" class="form-control"  placeholder="user name">
                            <input name="id" value="{$info.id|default='0'}" type="hidden" class="form-control"  placeholder="user name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
                            <input name="password" value="" type="password" class="form-control"  placeholder="password">
                        </div>
                    </div>
                    <div class="form-inline">
                        {foreach name='info.price' item='item' key="k" }
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">{$k}(€)</div>
                                <input style="width: 100px" name="price[{$k}]" value="{$item|default='999'}" type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                                <div class="input-group-addon">
                                    <input   name="status[{$k}]"  {eq name="info.status[$k]" value="online"}checked{/eq}  type="checkbox">    Online
                                </div>
                            </div>
                        </div>
                        {/foreach}
                    </div>
                    <div style="text-align: center">
                        <button  type="submit" class="btn btn-default">save</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{include file='./footer' /}
