{include file='./header' /}
<style>
    .block{
        background: #ddd;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 15px;
    }
    .status{
        display: inline-block;
        width: 130px;
        padding: 5px;
        border-radius: 5px;
        background: #eee;
        margin-bottom: 4px;
        text-align: right;
        color: #008800;
    }
</style>
<div class="row">
    {include file='./nav' /}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">api document</div>
            <div class="panel-body">
                <div class="block">
                <h5>BASE URL: <span style="background: #ccc;padding: 3px;border-radius: 3px">http://www.fut-charge.com/api/index</span></h5>
                <h5>TOKEN: <span style="background: #ccc;padding: 3px;border-radius: 3px">{$admin_info.key|default=''}</span></h5>
                </div>
                <div class="block">
                    <h4>1 Price Query</h4>
                    <p style="color:red">POST /price</p>
                    <p>Parameters:</p>
                    <p>{'user': token,platform:’ps4’}</p>
                    <p>Response:</p>
                    <p>{code: 200,message:’success’ ,data:{price:0.16,status:’online’}}</p>
                </div>
                <div class="block">
                    <h4>2 New Order</h4>
                    <p style="color:red">POST /newOrder</p>
                    <p>Parameters:</p>
                    <p>
                        merchant_id :unique order number from your system<br/>
                        login :EA e-mail (string)<br/>
                        password : EA password (string)<br/>
                        amount : Amount to fill in to account (int)<br/>
                        platform :ps4 (string)<br/>
                        backup1 - backup code 1 (string)<br/>
                        backup2 - backup code 2 (string)<br/>
                        backup3 - backup code 3 (string)<br/>
                        <span style="color: #008800">example<br/>
                        {user: token, merchant_id: 123123, login: 'test@test.com', 'password': 'password', 'amount': 1000, 'platform': 'ps4', 'backup1': '123456', 'backup2': '123456', 'backup3': '123456'}
                        </span>
                    </p>
                    <p>Response:</p>
                    <p>{"data":{"id":"20","time":1571546267,"status":"ORDER CREATE"},"code":200,"message":"create order success"}</p>
                </div>
                <div class="block">
                    <h4>3 Order status</h4>
                    <p style="color:red">POST /orderStatus</p>
                    <p>Parameters:</p>
                    <p>{'user': token,order_id:’123’}</p>
                    <p>Response:</p>
                    <p>{"data":{"id":13,"status":"end",transaction_already_ammount:0},"code":200,"message":"success"}</p>
                </div>
                <div class="block">
                    <h4>Status List</h4>
                    <p>
                        <span class="status">forbidden</span>-EA webapp is down<br/>
                        <span class="status">captcha</span>-can’t solve captcha<br/>
                        <span class="status">tradepilefull</span>-there are no space no trade pileto move cards<br/>
                        <span class="status">toomanyaction</span>-account is temporary banned by ea<br/>
                        <span class="status">unexpected</span>-technical issue on our site<br/>
                        <span class="status"><200 coins</span>-less than 200 coins in account<br/>
                        <span class="status">wrongbackup</span>-wrong back up codes<br/>
                        <span class="status">wronglogin</span>-login or password is wrong<br/>
                        <span class="status">marketlocked</span>-webapp market is locked<br/>
                        <span class="status">csmonline</span>-customer online<br/>
                        <span class="status">nologinverification</span>-its when customer need to login to webapp and use code from mail,then make new back ups when its working<br/>
                        <span class="status">transferring</span>-account info is correct, transfer in progress<br/>
                        <span class="status">checking info</span>-supplier is checking origin account info,waiting for delivery<br/>
                        <span class="status">end</span>-order finished<br/>
                        <span class="status">new</span>-new order not yet checked<br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{include file='./footer' /}
