{include file='./header' /}
<div class="row">
    {include file='./nav' /}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">stock</div>
            <div class="panel-body">
                <div class="row">
                    <div  style="text-align: center">
                        <form class="form-inline" action="store" method="post">
                            <div class="form-group">
                                <label for="exampleInputName2">Price</label>
                                <div class="input-group">
                                    <div class="input-group-addon">€</div>
                                    <input disabled name="price" value="{$info.price|default='999'}" type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input disabled name="status"  {eq name="info.status" value="online"}checked{/eq}  type="checkbox">    Online
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">New Order</div>
            <div class="panel-body">
                <form action="store" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >platform</label>
                                <input name="platform" value="ps4" type="text" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >amount</label>
                                <input  name="amount" value="1000" type="text" class="form-control" placeholder="amount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >transaction no</label>
                                <input name="merchant_order_id" type="text" class="form-control" placeholder="you system transaction no">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >Email address</label>
                                <input name="login" type="text" class="form-control" placeholder="EA Email">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >Password</label>
                                <input name="password" type="password" class="form-control" placeholder="EA Password">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >back up codes 1</label>
                                <input name="backup1" type="text" class="form-control" placeholder="back up codes">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >back up codes 2</label>
                                <input name="backup2" type="text" class="form-control" placeholder="back up codes">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >back up codes 3</label>
                                <input name="backup3" type="text" class="form-control" placeholder="back up codes">
                            </div>
                        </div>
                    </div>

                    <div class="row" style="text-align: center">
                        <div style="margin-top: 20px">
                            <button type="submit" class="btn btn-default">new Order</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">Order List</div>
            <div class="panel-body">
                <table class="table table-striped" style="font-size: 11px;">
                    <tr>
                        <td>id</td>
                        <td>merchant_order_id</td>
                        <td>platform</td>
                        <td>email address</td>
                        <td>password</td>
                        <td>backup1-2-3</td>

                        <td>amount</td>
                        <td>price</td>
                        <td>status</td>
                        <td>create_time</td>
                        <td>update_time</td>
                    </tr>
                    {volist name='list' id='order'}
                    <tr style="text-align: left">
                        <td class="active">{$order.id}</td>
                        <td class="active">{$order.merchant_order_id}</td>
                        <td class="active">{$order.platform}</td>
                        <td class="active">{$order.login}</td>
                        <td class="active">{$order.password}</td>
                        <td class="active">{$order.backup1}-{$order.backup2}-{$order.backup3}</td>
                        <td class="active">{$order.amount}</td>
                        <td class="active">{$order.price} eur</td>
                        <td class="active">
                            {if condition="$order.status eq 'Undelivered'"} <i style="color: #ccc;font-size: 15px;" class="glyphicon glyphicon-remove"></i>
                            {elseif condition="$order.status eq 'end'"/}<i style="color: blue;font-size: 15px;" class="glyphicon glyphicon-ok"></i>
                            {else /} <i style="color: red;font-size: 15px;" class="glyphicon glyphicon-remove"></i>
                            {/if}
                            {$order.status|default="NONE"}
                        </td>
                        <td class="active">{$order.create_at|date="Y-m-d H:i:s",###}</td>
                        <td class="active">{$order.update_at|date="Y-m-d H:i:s",###}</td>
                    </tr>
                    {/volist}

                    {empty name="list"}
                    <tr style="text-align: left">
                        <td style="text-align: center" colspan="8" class="active">list id empty</td>
                    </tr>
                    {/empty}
                </table>
            </div>
        </div>
    </div>


</div>
<div style="text-align: center">{$list->render()}</div>

</body>
</html>
