{include file='./header' /}
<div class="row">
    {include file='./nav' /}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">stock</div>
            <div class="panel-body">
                <div class="row">
                    <div  style="text-align: center">
                        <form class="form-inline" action="store" method="post">
                            {foreach name='info.price' item='item' key="k" }
                            <div class="form-group">
                                <label for="exampleInputName2">{$k}</label>
                                <div class="input-group">
                                    <div class="input-group-addon">€</div>
                                    <input disabled name="price[{$k}]" value="{$item|default='999'}" type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input disabled name="status[{$k}]"  {eq name="info.status[$k]" value="online"}checked{/eq}  type="checkbox">    Online
                                </label>
                            </div>
                            {/foreach}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">New Order</div>
            <div class="panel-body">
                <form action="store" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >platform</label>
                                <select name="platform" class="form-control">
                                    <option value="FFA20PS4">FFA20PS4</option>
                                    <option value="FFA20XBO">FFA20XBO</option>
                                    <option value="FFA20PCC">FFA20PCC</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >amount</label>
                                <input  name="amount" value="1000" type="text" class="form-control" placeholder="amount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >transaction no</label>
                                <input name="merchant_order_id" type="text" class="form-control" placeholder="you system transaction no">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >Email address</label>
                                <input name="login" type="text" class="form-control" placeholder="EA Email">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >Password</label>
                                <input name="password" type="password" class="form-control" placeholder="EA Password">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >back up codes 1</label>
                                <input name="backup1" type="text" class="form-control" placeholder="back up codes">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >back up codes 2</label>
                                <input name="backup2" type="text" class="form-control" placeholder="back up codes">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" style="margin-bottom: 10px">
                                <label >back up codes 3</label>
                                <input name="backup3" type="text" class="form-control" placeholder="back up codes">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align: center">
                        <div style="margin-top: 20px">
                            <button type="submit" class="btn btn-default">new Order</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">Order List</div>
            <div class="panel-body">

                <form class="form-inline" action="index" method="post">
                    <div class="form-group">
                        <label for="exampleInputName2"></label>
                        <div class="input-group">
                            <input name="merchant_order_id" value="{$search.merchant_order_id|default=''}" type="text" class="form-control"  placeholder="merchant_order_id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2"></label>
                        <div class="input-group">
                            <select name="status" class="form-control">
                                <option {eq name="search.status" value="ALL"}selected{/eq} value="">ALL</option>
                                <option {eq name="search.status" value="Undelivered"}selected{/eq} value="Undelivered">Undelivered</option>
                                <option {eq name="search.status" value="delivered"}selected{/eq} value="delivered">[delivered]delivered</option>
                                <option {eq name="search.status" value="transferring"}selected{/eq} value="transferring">[transferring]transfer in progress</option>
                                <option {eq name="search.status" value="end"}selected{/eq} value="end">[end]order finished</option>
                                <option {eq name="search.status" value="forbidden"}selected{/eq} value="forbidden">[forbidden]EA web app is down</option>
                                <option {eq name="search.status" value="captcha"}selected{/eq}  value="captcha">[captcha]can’t solve captcha</option>
                                <option {eq name="search.status" value="tradepilefull"}selected{/eq} value="tradepilefull">[tradepilefull]there are no space no trade pile to move cards</option>
                                <option {eq name="search.status" value="too many action"}selected{/eq} value="too many action">[too many action]too many action</option>
                                <option {eq name="search.status" value="unexpected"}selected{/eq} value="unexpected">[unexpected]technical issue on our site</option>
                                <option {eq name="search.status" value="< 200 coins"}selected{/eq} value="< 200 coins">[< 200 coins]less then 200 coins in account</option>
                                <option {eq name="search.status" value="wrong backup"}selected{/eq} value="wrong backup">[wrong backup]wrong backup codes</option>
                                <option {eq name="search.status" value="wrong login"}selected{/eq} value="wrong login">[wrong login]login or password is wrong</option>
                                <option {eq name="search.status" value="market locked"}selected{/eq} value="market locked">[market locked]web app market is locked</option>
                                <option {eq name="search.status" value="csm online"}selected{/eq} value="csm online">[csm online]customer online</option>
                                <option {eq name="search.status" value="no login verification"}selected{/eq} value="no login verification">[no login verification]</option>
                                <option {eq name="search.status" value="new"}selected{/eq} value="new">[new]new order not checked yet</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Query</button>
<!--                    <button type="submit" class="btn btn-default">Export</button>-->

                </form>

                <table class="table table-striped" style="font-size: 13px;">
                    <tr>
                        <td>id/merchant_order_id</td>
                        <td>platform/amount</td>
                        <td>account/password</td>
                        <td>backup1-2-3</td>
                        <td>price(eur)</td>
                        <td>status</td>
                        <td>create_time/update_time</td>
                        <td>option</td>
                    </tr>
                    {volist name='list' id='order'}
                    <tr style="text-align: left">
                        <td class="active" style="font-size: 14px">GC{$order.create_at|date="Ymd",###}-{$order.id}<br/>{$order.merchant_order_id}</td>
                        <td class="active">{$order.platform}<br/>{$order.amount/1000}K</td>
                        <td class="active">{$order.login}<br/>{$order.password}</td>
                        <td class="active">{$order.backup1}<br/>{$order.backup2}<br/>{$order.backup3}</td>
                        <td class="active">{$order.price}</td>
                        <td class="active">
                            {if condition="$order.status eq 'Undelivered'"} <i style="color: #ccc;font-size: 15px;" class="glyphicon glyphicon-remove"></i>
                            {elseif condition="$order.status eq 'end'"/}<i style="color: blue;font-size: 15px;" class="glyphicon glyphicon-ok"></i>
                            {else /} <i style="color: red;font-size: 15px;" class="glyphicon glyphicon-remove"></i>
                            {/if}
                            {$order.status|default="NONE"}
                        </td>
                        <td class="active">{$order.create_at|date="Y-m-d H:i:s",###}<br/>{$order.update_at|date="Y-m-d H:i:s",###}</td>
                        <td class="active"></td>
                    </tr>
                    {/volist}
                    {empty name="list"}
                    <tr style="text-align: left">
                        <td style="text-align: center" colspan="8" class="active">list id empty</td>
                    </tr>
                    {/empty}
                </table>
            </div>
        </div>
    </div>


</div>
<div style="text-align: center">{$list->render()}</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>
