{include file='./header' /}
<div class="row">
    {include file='./nav' /}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">Settle List</div>
            <div class="panel-body">
                <form class="form-inline" action="index" method="post">
<!--                    <div class="form-group">-->
<!--                        <div class="input-group">-->
<!--                            <input name="supplier_id" value="{$search.supplier_id|default=''}" type="text" class="form-control"  placeholder="supplier_id">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <div class="input-group">-->
<!--                            <input name="merchant_id" value="{$search.merchant_id|default=''}" type="text" class="form-control"  placeholder="merchant_id">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="exampleInputName2"></label>-->
<!--                        <div class="input-group">-->
<!--                            <input name="merchant_order_id" value="{$search.merchant_order_id|default=''}" type="text" class="form-control"  placeholder="merchant_order_id">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <button type="submit" class="btn btn-default">Query</button>-->
                </form>
                <table class="table table-striped" style="font-size: 13px;">
                    <tr>
                        <td>日期</td>
                        <td>商户名称</td>
                        <td>供应商</td>
                        <td>金币数量</td>
                        <td>交易笔数</td>
                        <td>供应商金额</td>
                        <td>商户金额</td>
                        <td>利润</td>
                    </tr>
                    {volist name='list' id='order'}
                    <tr style="text-align: left">
                        <td class="active">{$order.days}</td>
                        <td class="active">{$order.merchant_id}</td>
                        <td class="active">{$order.pgw_id}</td>
                        <td class="active">{$order.amount}</td>
                        <td class="active">{$order.num}</td>
                        <td class="active">{$order.pgw_price}</td>
                        <td class="active">{$order.merchant_price}</td>
                        <td class="active">{$order.merchant_price-$order.pgw_price}</td>
                    </tr>
                    {/volist}

                    {empty name="list"}
                    <tr style="text-align: left">
                        <td style="text-align: center" colspan="9" class="active">list id empty</td>
                    </tr>
                    {/empty}
                </table>
                <div style="text-align: center">{$list->render()}</div>
            </div>
        </div>
    </div>
</div>
{include file='./footer' /}
