{include file='./header' /}
<div class="row">
    {include file='./nav' /}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: left">Merchant List <a href="add_merchant" class="btn btn-primary btn-xs" style="float: right">add</a></div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <td>id</td>
                        <td>name</td>
                        <td>status/price</td>
                        <td>create_time</td>
                        <td>update_time</td>
                        <td>option</td>
                    </tr>
                    {volist name='list' id='order'}
                    <tr style="text-align: left">
                        <td class="active">{$order.id}</td>
                        <td class="active">{$order.name}</td>
                        <td class="active"><pre>{$order.status}<br/>{$order.price}</pre></td>
                        <td class="active">{$order.create_at|date="Y-m-d H:i:s",###}</td>
                        <td class="active">{$order.update_at|date="Y-m-d H:i:s",###}</td>
                        <td class="active">
                            <a href="update_merchant?id={$order.id}">update</a>
                            <a href="del_merchant?id={$order.id}">delete</a>
                        </td>
                    </tr>
                    {/volist}
                    {empty name="list"}
                    <tr style="text-align: left">
                        <td style="text-align: center" colspan="7" class="active">list id empty</td>
                    </tr>
                    {/empty}
                </table>
                <div style="text-align: center">{$list->render()}</div>
            </div>
        </div>
    </div>
</div>
{include file='./footer' /}
