
<div class="menu">
    <a class="menu-home icon-all" href="/index">HOME</a>
    <div class="menu-list">
        {volist name="menu" id="item"}
        <div class="menu-list_item menu-list_item-select" style="padding: 0 20px;text-align: center">
        {present name="item.children"}
            <a class="menu-list_item__a" href="javascript:void(0);">{$item.category_name}</a>
            <ul class="menu-list_item-select_ul">
                {volist name="item.children" id="c_item"}
                <li>
                    <a href="/index/index/product/category/{$c_item.category_name}">{$c_item.category_name}</a>
                </li>
                {/volist}
            </ul>
        </div>
        {else /}
        <div class="menu-list_item">
            <a class="menu-list_item__a" href="/index/index/detail/{$item.id}">FIFA MOBILE COINS</a>
        </div>
        {/present}
        {/volist}
    </div>
</div>
