<html>
<header>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</header>
<style>
    .form-group{
        margin-bottom: 10px;
    }
</style>
<body>
<div class="row">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="font-size: 20px;" class="navbar-brand" href="#">GameCharge <span style="font-size: 10px;color: red">supplier</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index">OPERATE</a></li>
<!--                    <li><a href="#">Order</a></li>-->
<!--                    <li><a href="#">API</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{$info.name|default='User'}</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">stock</div>
            <div class="panel-body">
                <div class="row">
                    <div  style="text-align: center">
                        <form class="form-inline" action="store" method="post">
                            <div class="form-group">
                                <label for="exampleInputName2">Price</label>
                                <div class="input-group">
                                    <div class="input-group-addon">€</div>
                                    <input name="price" value="{$info.price}" type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="status"  {eq name="info.status" value="online"}checked{/eq}  type="checkbox">    Online
                                </label>
                            </div>
                            <button type="submit" class="btn btn-default">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">Update Status</div>
            <div class="panel-body">
                <div class="row">
                    <div  style="text-align: center">
                        <form class="form-inline" action="status" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputName2">order_id</label>
                                <div class="input-group">
                                    <input name="id" value="" type="text" class="form-control" placeholder="order_id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>status</label>
                                <div class="input-group">
                                    <select name="status" class="form-control">
                                        <option value="transferring">[delivered]delivered</option>
                                        <option value="transferring">[transferring]transfer in progress</option>
                                        <option value="end">[end]order finished</option>
                                        <option value="forbidden">[forbidden]EA web app is down</option>
                                        <option value="captcha">[captcha]can’t solve captcha</option>
                                        <option value="tradepilefull">[tradepilefull]there are no space no trade pile to move cards</option>
                                        <option value="too many action">[too many action]too many action</option>
                                        <option value="unexpected">[unexpected]technical issue on our site</option>
                                        <option value="< 200 coins">[< 200 coins]less then 200 coins in account</option>
                                        <option value="wrong backup">[wrong backup]wrong backup codes</option>
                                        <option value="wrong login">[wrong login]login or password is wrong</option>
                                        <option value="market locked">[market locked]web app market is locked</option>
                                        <option value="csm online">[csm online]customer online</option>
                                        <option value="no login verification">[no login verification]</option>
                                        <option value="new">[new]new order not checked yet</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">image</label>
                                <div class="input-group">
                                    <input type="file" name="image" /> <br>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">Order List</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <td>order id</td>
                        <td>platform</td>

                        <td>login</td>
                        <td>password</td>
                        <td>backup1</td>
                        <td>backup2</td>
                        <td>backup3</td>

                        <td>amount</td>
                        <td>price</td>
                        <td>status</td>
                        <td>image</td>
                        <td>create_time</td>
<!--                        <td>update_time</td>-->
                    </tr>
                    {volist name='list' id='order'}
                    <tr style="text-align: left">
                        <td class="active">{$order.id}</td>
                        <td class="active">{$order.platform}</td>
                        <td class="active">{$order.login}</td>
                        <td class="active">{$order.password}</td>
                        <td class="active">{$order.backup1}</td>
                        <td class="active">{$order.backup2}</td>
                        <td class="active">{$order.backup3}</td>
                        <td class="active">{$order.amount}</td>
                        <td class="active">{$order.pgw_price|default="0"} eur</td>
                        <td class="active">
                            {if condition="$order.status eq 'Undelivered'"} <i style="color: #ccc;font-size: 15px;" class="glyphicon glyphicon-remove"></i>
                            {elseif condition="$order.status eq 'end'"/}<i style="color: blue;font-size: 15px;" class="glyphicon glyphicon-ok"></i>
                            {else /} <i style="color: red;font-size: 15px;" class="glyphicon glyphicon-remove"></i>
                            {/if}
                            {$order.status|default="NONE"}
                        </td>
                        <td class="active"><a target="_blank" href="{$order.image|default=''}"><img style="width: 50px" src="{$order.image|default=''}"/></a></td>
                        <td class="active">{$order.create_at|date="Y-m-d H:i:s",###}</td>
<!--                        <td class="active">{$order.update_at|date="Y-m-d H:i:s",###}</td>-->
                    </tr>
                    {/volist}

                    {empty name="list"}
                    <tr style="text-align: left">
                        <td style="text-align: center" colspan="7" class="active">list id empty</td>
                    </tr>
                    {/empty}
                </table>
            </div>
        </div>
    </div>


</div>
<div style="text-align: center">{$list->render()}</div>

</body>
</html>
